body {
	background-color: black;
	font-family: Audiowide;
}
.message-area {
	height: 10vh;
	width: 33vw;
	margin: 1vh auto;
/*For checking only*/
	/*background-color: blue; */
	color: #22ff00;
	text-align: center;
	font-size: 4vw;
}

.game-area {
    height: 62vh; /* play-btn.width * 2 + play-btn.margin * 3 */
	width: 62vh;
    margin: 2vh auto;
    /*For checking only*/
    /*background-color: grey;  */
}
.center {
	height: 24vh;
	width: 24vh;
	background-color: black;
	border-radius: 100%;
	position: relative;
	top: 31%;
	left:31%;
}
.round {
	position: relative;
	top: 0%;
	-webkit-transform: translateY(-78%);
	-ms-transform: translateY(-78%);
	transform: translateY(-78%);
	color: #22ff00;
	text-align: center;
	font-size: 6vh;
}

.start-btn {
	height: 6.66vh;
	width: 25vw;
	margin: 1vh auto;
	background-color: #EEEEEE;
	color: #999999;
	font-family: Audiowide;
	font-size: 4vh;
	position: relative;
}
.play-btn {
	height:30vh; /* use vh for both */
	width: 30vh;
	margin: 0.5vh;
	float: left;
	position: relative;
	box-shadow: none;
	opacity: 0.65;
	outline: none;
}
.play-btn:nth-of-type(2n+1) {
	clear:left;
}
/* simon buttons  */
/*Use vh to keep proportionality*/
.top-left {
	border-top-left-radius: 30vh;
	border-top-right-radius: 1vh;
	border-bottom-right-radius: 3vh;
	border-bottom-left-radius: 1vh;
}
.top-right {
	border-top-left-radius: 1vh;
	border-top-right-radius: 30vh;
	border-bottom-right-radius: 1vh;
	border-bottom-left-radius: 3vh;
}

.bottom-left {
	border-top-left-radius: 1vh;
	border-top-right-radius: 3vh;
	border-bottom-right-radius: 1vh;
	border-bottom-left-radius: 30vh;
}

.bottom-right {
	border-top-left-radius: 3vh;
	border-top-right-radius: 1vh;
	border-bottom-right-radius: 30vh;
	border-bottom-left-radius: 1vh;
}

#green {background-color: #22ff00;}

#yellow {background-color: #ffff38;}

#blue {background-color: #145fff;}

#red {background-color: #ff0000;}
